@import '../../default.scss';
.error {
  color: #b93838;
  margin-left: 2rem;
  font-size: $normal;
  outline-color: #9b3f3f;
  border-color: #9b3f3f;
}

.shipping {
  margin: 10rem 0;

  & h1 {
    font-size: $medium;
  }
  & form .btn {
    margin-left: 0 !important;
  }
  h4 a {
    color: $blue;
  }
}
