@import '../../../default';
.admin-tool-bar {
  width: 100%;
  height: 7rem;
  background-color: $lightgrey;

  .admin-link {
    height: 100%;
    padding: 2.2rem;
    color: $white;
    background-color: $blue;
    float: right;
    border-radius: 1rem 0 0 1rem;
    @include transition;
    font-size: $medium;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }
}
