@import '../../default.scss';

.payment {
  max-width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 30rem;
  & h2 {
    margin-bottom: 2rem;
    margin-top: 7rem;
  }
  & form {
    & select {
      display: block;
    }
  }
}
