@import '../../default';

.product-container {
  padding: 2rem;
}
.product-intro {
  @extend .container;
  margin-top: 5rem;
  @include flex(row, center, space-between);
  flex-wrap: wrap-reverse;

  .product-img {
    @include box(40rem);
  }
  .product-description {
    & h1 {
      font-size: $title;
      width: 30rem;
      margin-bottom: 1rem;
    }
    & h3 {
      margin-top: 1rem;
    }
    div {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}

.product-in-cart {
  display: flex;
  align-items: flex-start !important;

  flex-direction: column;
}
.product-info {
  background: $darkgrey;
  border-radius: 2rem;
  color: $white;
  font-size: $normal;
  margin-bottom: 5rem;
  padding: 5rem;
  &-container {
    @extend .container;
  }
  .product-icon {
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    img {
      margin-right: 2rem;
      width: 5rem;
    }
  }
}

.add-review {
  border: solid 4px $lightgrey;
  border-radius: 1rem;
  padding: 1rem 2rem;
  form {
    margin: 2rem 0;
  }
  h4 {
    margin-bottom: 1rem;
  }
  button {
    max-width: 36rem;
  }
}

@media screen and (max-width: 800px) {
  .product-img {
    width: 40rem !important;
  }
}
@media screen and (max-width: 400px) {
  .product-img {
    width: 30rem !important;
  }
}
