@import '../../../default.scss';

.cart-product {
  height: 25vh;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  .cart-product-img {
    width: 40%;
  }
  .cart-product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cart-product-name {
      font-size: $small;
      font-weight: bold;
      margin-top: 2rem;
    }
    .cart-product-price {
      font-size: $smallest;
      font-weight: lighter;
      margin-top: 1rem;
    }
    .quantity {
      margin-top: 2rem;
      padding-right: 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $small;
    }
  }
  .count {
    padding: 0.1rem 1rem;
    border: 1px solid black;
    width: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $normal;

    & button {
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      font-size: $normal;
      margin-top: 0.5rem;
    }
    & button:last-child {
      font-size: $medium;
      padding: 0;
      margin: 0;
    }
  }
}
