@import '../../default.scss';

footer {
  background-color: $black;
  color: $white;
  @include flex(row, flex-start, space-around);
  font-size: $small;
  font-weight: 400;
  padding: 6rem 1rem 15rem;
  letter-spacing: 0.1rem;

  .hear-it-first {
    text-align: center;
    .input {
      @include flex(row, center, center);
      input {
        border-radius: 1rem;
        outline: none;
        border: none;
      }
      & img {
        width: 2.5rem;
        @extend .ml-1;
        @extend .mb-1;
        @include transition;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .social-media {
    & h2 {
      @extend .mb-2;
    }
    img {
      @extend .mr-2;
      @include transition;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .footer-links {
    width: 40%;
    @include flex(row, flex-start, space-between);
    line-height: 2;
    & div {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      & a {
        font-size: $small;
        margin-bottom: 1rem;
        &:hover {
          color: $accent;
        }
      }
    }
  }
  & img {
    width: 3rem;
  }
}

@media screen and (max-width: 900px) {
  footer {
    @include flex(column, center, center);

    & > div {
      margin-bottom: 5rem;
    }
  }
  .footer-links {
    @include flex(column, center, center);
  }
}
