@import '../../default';

.admin-users {
  h1 {
    font-size: $title;
  }

  .users-list {
    margin-top: 3rem;
    font-size: $normal;
  }

  .delete-user {
    color: $error;
    cursor: pointer;
  }
  .edit {
    width: 2rem;
  }
}
