@import '../../default.scss';
.search {
  margin-right: 2rem;
  form {
    @include flex();
    margin: 0 1rem;
    button {
      height: 4rem;

      margin: 0;

      padding: 0.5rem;
      background-color: $darkgrey;
      border-radius: 0 0.5rem 0.5rem 0;
      @include hover($darkgrey);

      width: fit-content;
      img {
        margin: 0;
        @include box(3rem);
        &:hover {
          transform: none;
        }
      }
    }
  }
}

.search-input {
  height: 4rem;
  max-width: 20rem;
  margin: 0;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  &::placeholder {
    font-size: $small;
  }
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 450px) {
}
